/* busqueda.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.BarraLateral {
  width: 11.4%;  /* Añade esta línea para que crezca con el contenido */ /* Añade esta línea */ /* Añade esta línea */
  justify-content: space-between; /* Añade esta línea */
  position: fixed;
  height: 100%;
}


.searchContainer {
  align-items: flex;
  margin-left: 18rem;
  font-family: 'Roboto', sans-serif;
}

.searchInput{
  margin-top: 10000rem;
}


.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin-left: 40rem; /* Agregamos un margen izquierdo para separar de la caja de entrada */
}

.checkboxContainer label {
  margin-bottom: 8px;
}

.button1 {
  width: 96px;
  height: 40px;
  top: 442px;
  left: 1030px;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 10px;
  border:2px solid #6750A4;
  gap:8px;
  background-color: white;
  color: #6750A4;
}

.button1:hover {
  background-color: #cfcadd;
}

.chipContainer{
  display: flex;
}

.chip{
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}


